$baseColor: #1A1C1D;
$white: #8e9091;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  background: $baseColor;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-main {
  flex: 1 0 auto;
}

.row-monitor {
  flex: 0 1 260px;
}

.canvas {
  display: flex;
  flex-direction: column;

  .canvas-header {
    flex: 0 1 20px;
    box-shadow: 0 5px 5px 0 black;
    color: $white;
    text-align: center;
  }

  .canvas-container {
    flex: 1 0 auto;
  }
}

.board {
  flex: 1 0 auto;
}

.editor {
  flex: 0 1 300px;
  border-left: 1px solid black;
}

.monitor {
  border-top: 1px solid black;
  width: 100%;
}

