html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 0 auto;
}

@mixin flex-size($size) {
  flex: 0 0 $size;
}

.wrapper {
  background: skyblue;
  height: 100%;
  width: 100%;
}

.monitor {
  @include flex-size(200px);
  background: lightgreen;
}

.visual {
  background: blue;
}

.editor {
  @include flex-size(300px);
  background: yellow;
}

.freq {
  background: yellow;
  @include flex-size(20px);
}

.editor-conf {
  background: green;
}