//https://dribbble.com/shots/693245-Untitled-iOS-iPhone-synth-app-waveforms

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #222227;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 0 auto;
}

@mixin flex-size($size) {
  flex: 0 0 $size;
}

.wrapper {
  //background: skyblue;
  height: 100%;
  width: 100%;
}

.monitor {
  @include flex-size(200px);
  //background: #222227;
  border-top: 1px solid #A6A6A8;
}

.visual {
  //background: #222227;
}

.editor {
  @include flex-size(300px);
  //background: yellow;
  border-left: 1px solid #A6A6A8;
}

.freq {
  //background: yellow;
  @include flex-size(20px);
}

.editor-conf {
  //background: green;
}